.main_inscription{
    width: 80%;
    height: 100%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 63% 38%;
    background-color: white;
}
.gauche_inscription{
    border: 2px solid black;
    display: grid;
    grid-template-rows: 15% ;
}
.entete_guache_inscription{
    border-bottom: 1px solid gray;
    margin-left: 3%;
    font-size: 1em;

}
.inputs{
    width: 90%;
    height: 15%; 
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    
}
.inputs input{
     height: 70%;
     border: 1px solid gray;
     font-size: 2em;
}
.inputs label{
    font-size: 1.5em;
    color: rgb(129, 125, 125);
}
.fin1_guache_inscription{
    display: flex;
    justify-content: space-between;
    margin-right: 7%;
    margin-left: 3%;
    font-size: 1.5em;

}
.fin2_guache_inscription{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;

}
.fin2_guache_inscription button{
    width: 22%;
    height: 40%;
    background-color: aqua;
    color: white;
    font-size: 1.5em;
    
}
.fin1_guache_inscription button{
    width: 33%;
    height: 40%;
    background-color: aqua;
    color: white;
    font-size: 1.5em;
    
}
.droite_inscription{
 
}